.catalog-page-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 20px;    
}

.catalog-page-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 0;
    position: relative;
}

.catalog-page-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.filters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 24px;
}

.sizes-filter-container,
.categories-filter-container,
.gender-filter-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.delete-filters-btn{
    display: flex;
    gap: 10px;    
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: var(--text-color-third);
    border: 1px solid #bfbfbf;
    padding: 9px 11px;
    background-color: white;
}

.delete-filters-btn:hover{
    cursor: pointer;
    transition: border 0.2s;
    border: 1px solid #4096ff;
    transform: scale(105%);
    transition: transform 0.5s;
}

.no-products-message {
  text-align: center;
  margin: 20px;
  color: var(--text-color-third);
}


/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  }

/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

    .catalog-page-container{
        align-items: center;
    }

    .filters-container{
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        gap: 20px;
        width: 100%;
    }

    .delete-filters-container{
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .sizes-filter-container,
    .categories-filter-container,
    .gender-filter-container {
    width: 100%;
    justify-content: space-between;
    }

    .sizes-filter-container label,
    .categories-filter-container label,
    .gender-filter-container label {
    width: 30%;
    font-size: 0.9rem;
    }

    .sizes-filter-container .ant-select,
    .categories-filter-container .ant-select,
    .gender-filter-container .ant-select {
    width: 70%;
    }

}