.contact-page-container{
    display: flex;
    flex-direction: column;
}

.contact-page-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 0;
    position: relative;
}

.contact-page-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.contact-page-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-page-item{
    display: flex;
    flex-direction: column;
}

.contact-page-item a {
    text-decoration: none;
    color: inherit;
    justify-items: center;
  }  