.product-details-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
  }

  .product-details-img-container {
    aspect-ratio: 3/4;
    width: 30%;
  }

  .product-details-image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 5px;
  }

  .product-details-info{
    width: 70%;
    flex-wrap: wrap;
  }
  
  .product-details-title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .size-radio {
  display: none;
}

.size-option {
  display: inline-block;
  padding: 6px 12px;
  font-size: 0.8rem;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  color: var(--text-color-second);
  cursor: pointer;
  transition: background-color 0.3s;
}

.size-radio:checked + label,
.size-option:has(input:checked) {
  background-color: var(--text-color-second);
  color: white;
}

  .product-details-description {
    margin-top: 16px;
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
  }

  .product-details-prices {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .product-details-price {
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
  }
  
  .product-details-old-price {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
    margin-left: 12px;
  }

  .product-details-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: auto;
    align-self: flex-end;
  }

  .product-details-whatsapp-button,
  .product-details-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 10px;
    border-radius: 16px;
    padding: 10px 20px;
    color: var(--text-color-five);
  }
  
  .product-details-whatsapp-button{
    background: var(--whatsapp-color);
  }

  .product-details-cart-button{
    background: var(--layout-color);
  }
  
  .product-details-whatsapp-button:hover,
  .product-details-cart-button:hover{
    cursor: pointer;
    filter: brightness(110%);
    transition: filter 0.2s;
  }



/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

  .product-details-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .product-details-img-container {
    width: 70%;
  }
  
  .product-details-info{
    width: 100%;
    flex-wrap: wrap;
  }

  .product-details-buttons-container{
    padding: 30px 0;
    gap: 20px;
  }
}