.shopping-cart-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80vh;
  padding: 0 20px;
}

.shopping-cart-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 0;
    position: relative;
}

.shopping-cart-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.shopping-cart-content.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cart-empty-message {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #777;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  align-items: center;
  background-color: #fff;
}

.cart-item-image {
  width: 100px;
  aspect-ratio: 3/4;
  border-radius: 6px;
  object-fit: cover;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details p {
  margin: 6px 0;
  font-size: 1rem;
  color: #333;
}

.cart-item-details .cart-item-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.cart-item-delete-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.cart-item-qty {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.cart-page-buttons-container{
  display: flex;
  padding: 20px 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.cart-item-delete-btn,
.cart-page-clear-btn,
.cart-page-whatsapp-btn{
  display: flex;
  padding: 10px;
  color: var(--text-color-five);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cart-page-clear-btn-txt,
.cart-page-whatsapp-btn-txt {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item-delete-btn,
.cart-page-clear-btn {
  background-color: #f53928;
}

.cart-page-whatsapp-btn{
  background-color: var(--whatsapp-color);
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  
}

/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .cart-item-image{
    display: flex;
    margin: 0 auto;
    width: 50%;
  }

  
  .cart-item-delete-container{
    width: 100%;
    margin: 0 auto;
  }

  .cart-item-delete-btn{
    width: 100%;
    justify-content: center;
  }



}
