.mySwiper {    
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

.swiper-slide {
    display: flex;
    justify-content: center;
    aspect-ratio: 20/9;
}

.item-banner img{     
    width: 100%;
    aspect-ratio: 20/9;
    border-radius: 20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: var(--layout-color);
}

.swiper-pagination-bullet-active{
    background: white;
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-slide {
        aspect-ratio: 4/3;
    }
    
    .item-banner img{     
        aspect-ratio: 4/3;
    }

}

/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

}