.footer-container {
  width: 100%;
  padding: 24px 20px;
  background-color: var(--layout-color);
  color: var(--text-color-first);
  z-index: 1000;
  bottom: 0;
}

.footer-content{
  max-width: 1200px;
  margin: 0 auto;
}

/* FOOTER - INFORMACIÓN DE LA PÁGINA */

.info-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 2;
  padding-top: 24px;
  padding-bottom: 48px;
}

.info-container h4{
  color: var(--text-color-five);
  font-weight: 600;
}

.media-container{
  display: flex;
  flex-direction: column;
}

.fb-icon-container,
.ig-icon-container,
.wa-icon-container{
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;  
  color: var(--text-color-fourth);
}

.fb-icon-container:hover,
.ig-icon-container:hover,
.wa-icon-container:hover{
  transition: transform 0.5s, color 0.5s;
  transform: scale(1.05);
  color: var(--text-color-five);
}


.footer-icon{
  align-self: center;
}

.media-icons-container{
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}

.media-icons-container a{
  width: 40px;
  height: 40px;
}

.media-container p, .about-us-container p, .policies-container p{
  color: #e0e0e0;
}

.policies-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-us-container ul, .policies-container ul{
  color: #e0e0e0;
  list-style: none;
}

.policy-links {
  list-style: none;
}

.policy-item-footer a{
  display: flex;
  text-decoration: none;
  color: var(--text-color-fourth);
}

.policy-item-footer a:hover{
  transition: color 0.5s;
  color: var(--text-color-five);
}

.policy-icon {
  font-size: 1rem;
  align-self: center;
  margin-left: 5px;
}

.about-us-container{
  display: flex;
  flex-direction: column;
}

/* FOOTER - CRÉDITOS*/

.copyright-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #888;
  padding-top: 24px;
  gap: 8px;
  color: var(--text-color-fourth);
}

.copyright-link {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.copyright-link img{
  height: 20px;
}

.developer-text{
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.2s;
}

.developer-text:hover{
  color: var(--primary-color-light);
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  .info-container{
    flex-direction: column;
    gap: 48px;
  }

  .media-container,
  .about-us-container,
  .policies-container{
    justify-content: center;
    align-items: center;
  }

  .about-us-container ul, .policies-container ul{
    justify-items: center;
  }

  .copyright-container{
    flex-direction: column;
    gap: 20px;
  }

  .copyright-divider-line{
    display: none;
  }

}

/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

  .footer-container {
    padding: 24px 6px;
  }
}