.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  padding: 0;
}

.hamburger-button{
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilos comunes de las líneas */
#top-line,
#bottom-line,
#middle-line {
  transform-box: fill-box;
  transform-origin: center;
}

/* Animación cuando el botón tiene clase 'open' */
.hamburger-icon.open #top-line {
  animation: down-rotate 0.4s ease-out both;
}

.hamburger-icon.open #bottom-line {
  animation: up-rotate 0.4s ease-out both;
}

.hamburger-icon.open #middle-line {
  animation: hide 0.4s ease-out forwards;
}

/* Animación inversa cuando el botón NO tiene clase 'open' */
.hamburger-icon:not(.open) #top-line {
  animation: down-rotate-reverse 0.3s ease-in both;
}

.hamburger-icon:not(.open) #bottom-line {
  animation: up-rotate-reverse 0.3s ease-in both;
}

.hamburger-icon:not(.open) #middle-line {
  animation: show 0.3s ease-in forwards;
}

/* ANIMACIONES */
@keyframes up-rotate {
  0% { transform: translateY(0px); }
  30% { transform: translateY(-15px); }
  100% { transform: translateY(-15px) rotate(45deg) scale(0.9); }
}

@keyframes down-rotate {
  0% { transform: translateY(0px); }
  30% { transform: translateY(15px); }
  100% { transform: translateY(15px) rotate(-45deg) scale(0.9); }
}

@keyframes hide {
  29% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes up-rotate-reverse {
  0% { transform: translateY(-15px) rotate(45deg) scale(0.9); }
  70% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes down-rotate-reverse {
  0% { transform: translateY(15px) rotate(-45deg) scale(0.9); }
  70% { transform: translateY(15px); }
  100% { transform: translateY(0px); }
}

@keyframes show {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
