.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 30px;
}

/* Ocultamos el checkbox, pero sigue funcionando */
#menu-toggle {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

#top-line,
#bottom-line,
#middle-line {
  transform-box: fill-box;
  transform-origin: center;
}

/* Animación cuando el checkbox está activado */
#menu-toggle:checked ~ svg #top-line {
  animation: down-rotate 0.4s ease-out both;
}

#menu-toggle:checked ~ svg #bottom-line {
  animation: up-rotate 0.4s ease-out both;
}

#menu-toggle:checked ~ svg #middle-line {
  animation: hide 0.4s ease-out forwards;
}

/* Animación inversa cuando se desactiva */
#menu-toggle:not(:checked) ~ svg #top-line {
  animation: down-rotate-reverse 0.3s ease-in both;
}

#menu-toggle:not(:checked) ~ svg #bottom-line {
  animation: up-rotate-reverse 0.3s ease-in both;
}

#menu-toggle:not(:checked) ~ svg #middle-line {
  animation: show 0.3s ease-in forwards;
}

/* Animaciones */
@keyframes up-rotate {
  0% { transform: translateY(0px); }
  30% { transform: translateY(-15px); } /* Ajustado de -10px a -15px */
  100% { transform: translateY(-15px) rotate(45deg) scale(0.9); }
}

@keyframes down-rotate {
  0% { transform: translateY(0px); }
  30% { transform: translateY(15px); } /* Ajustado de 10px a 15px */
  100% { transform: translateY(15px) rotate(-45deg) scale(0.9); }
}

@keyframes hide {
  29% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

/* Animaciones inversas */
@keyframes up-rotate-reverse {
  0% { transform: translateY(-15px) rotate(45deg) scale(0.9); }
  70% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes down-rotate-reverse {
  0% { transform: translateY(15px) rotate(-45deg) scale(0.9); }
  70% { transform: translateY(15px); }
  100% { transform: translateY(0px); }
}

@keyframes show {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}