.header-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0px 14px;
  background: var(--primary-color);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
  z-index: 1000;
  color: var(--body-color);
  padding: 0 128px;
}

.header-container.open {
  background-position: left;
}

.hamburguer-btn-container {
  display: none;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-right: 5px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea verticalmente */
  text-align: center; /* Alinea el texto al centro */
  line-height: 1;
}

.coconut {
  font-family: 'Bluestar Medium-Italic', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ff3da1;
}

.fashion {
  font-family: 'TT Rounds Neue Trial DemiBold', sans-serif;
  font-size: 1.3rem;
  color: #fff;
}

/* Contenedor de los iconos */
.icons-container {
  display: flex; 
  margin: 0 auto;
  gap: 0 16px;
  align-items: center;
  margin-right: 14px;
}

.search-button, .fav-link, .shopping-cart-link {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.icons-container .active,
.icons-container .active .fav-icon,
.icons-container .active .shopping-cart-icon {
  color: var(--secondary-color);
}

.fav-icon, .shopping-cart-icon, .search-icon {
  width: 1.6rem;
  color: #ffffff;
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  .hamburguer-btn-container {
    display: block;
    margin-right: 5px;
  }

  .header-container{
    padding: 0 6px;
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }

  .coconut {
    font-size: 1.5rem;
  }

  .fashion {
    font-size: 1.1rem;
  }

  .icons-container {
    gap: 0 4px;
  }
}

  
/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

  .icons-container {
    margin-right: 0;
  }

}