.header-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0px 14px;
  background: var(--primary-color);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
  z-index: 1000;
  color: var(--body-color);
  padding: 0 128px;
}

.header-container.open {
  background-position: left;
}

.hamburguer-btn-container {
  display: none;  
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}

.icon-logo-container {
  display: flex;
  height: 70px;
  align-items: center;
}

.icon-logo-container img{
  height: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  width: auto;
  height: 54px;
}

.title-container img{
  height: 100%;
}

/* Contenedor de los iconos */
.icons-container {
  display: flex; 
  margin: 0 auto;
  gap: 0 16px;
  align-items: center;
  margin-right: 14px;
}

.search-button, .fav-link, .shopping-cart-link {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.icons-container .active,
.icons-container .active .fav-icon,
.icons-container .active .shopping-cart-icon {
  color: var(--secondary-color);
}

.fav-icon, .shopping-cart-icon, .search-icon {
  width: 1.6rem;
  color: #ffffff;
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  .hamburguer-btn-container {
    display: block;  
  }

  .header-container{
    padding: 0 6px;
  }

  .icons-container {
    gap: 0 4px;
  }
}

  
/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {

  .icon-logo-container img{
    width: 65px;
    height: 65px;
  }

  .title-container img{
    height: 45px;
  }

  .icons-container {
    margin-right: 0;
  }

}