.dev-social-media{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.dev-picture{
    width: 50%;
    height: 50%;
    display: flex;
    justify-self: center;
    border-radius: 100%;
    margin: 20px;
}