.products-container {
  padding: 20px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  margin: 0 auto;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.product-image-container {
  flex: 1;
  position: relative;
  width: 100%;
}

.product-image {
  height: 100%;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

.product-offer-tag {
  position: absolute;
  font-size: 0.9rem;
  z-index: 10;
  top: 0;
  left: 0;
  background: red;
  color: white;
  padding: 4px 8px;
  border-radius: 0 0 4px 0;
}

.product-image {
  position: static;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {  
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0.8rem;
  overflow: hidden;
}

.product-title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color-first);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  font-size: 0.8rem;
  color: #777;
  line-height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 6px 0px;
}

.product-sizes-container {
  flex: 2;
  display: flex;
  gap: 8px;
  margin: 8px 0px;
  max-height: 36px;
  align-items: center;
  overflow: hidden;
}

.product-size-text{
  color: #555;
  font-size: 0.9rem;
}

.product-size-tag {
  background-color: #eee;
  color: #555;
  padding: 4px 10px;
  border-radius: 24px;
  font-size: 0.6rem;
}

.product-price-container {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.product-price {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.product-old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #888;
}

/* ----- MEDIA QUERY == 900px / Tablets ----- */
@media only screen and (max-width: 900px) {

  .product-image-container {
    max-height: 140px;
  }

  .product-image {
    height: 140px;
  }

}
  
/* ----- MEDIA QUERY == 540px / Smartphones ----- */
@media only screen and (max-width: 540px) {
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 25px;
  }
  
  .product-card {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
    height: auto;
  }

  .product-image-container {
    width: 100%;
    height: 100%;
  }

  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}