@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* fuentes locales */
@font-face {
    font-family:'Bluestar Medium-Italic';
    src: url('./assets/fonts/Bluestar-MediumItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'TT Rounds Neue Trial DemiBold';
    src: url('./assets/fonts/TT Rounds Neue Trial DemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    background-color: var(--background-color);
}

/* ----- VARIABLES ----- */
:root{
    --white: #fff;
    --black: #000;
    
    --background-color: #f0f0f0;
    --layout-color: #252728;

    --text-color-first: #fff;
    --text-color-second: #808080;

    --primary-color: #2196F3;
    --primary-color-dark: #1664a3;
    --primary-color-light: #89c5f6;


    --secondary-color: #ff3da1;
    --secondary-color-dark: #c02c78;

    --facebook-color: #0866ff;
    --instagram-color: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
    --whatsapp-color: #25d366;

}